# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist

# Env
.env

# Other files
mcp-server.zip
nvm-setup.exe
artifact.zip
artifact-src.zip

# Other folders
srcpkg
release
